body {
  margin-top: 15pt;
  margin-bottom: 15pt;
  margin-right: 23%;
  margin-left: 23%;
  text-align:justify;
  font-family:'monospace';
  /*font-family:'Didot';*/
  font-size: 12pt;
}

a {
  color: #134F5C;
  /*color: #6AA84F;*/
  background-color: transparent;
  text-decoration: none;
}