body {
  margin-top: 15pt;
  margin-bottom: 15pt;
  margin-right: 23%;
  margin-left: 23%;
  text-align:justify;
  font-family:'monospace';
  /*font-family:'Didot';*/
  font-size: 11pt;
}

a {
  color: #134F5C;
  /*color: #6AA84F;*/
  background-color: transparent;
  text-decoration: none;
}

.amymenu {
  /*width: 100pt;*/
  /*height: 0px;*/
  color: #134F5C;
  background-color: transparent;
  text-decoration: none;
  /*text-align: left;*/
}

.mymenu {
  /*background-color: #4CAF50;*/
  /*background-color: #333;*/
  /*overflow: hidden;*/
  /*max-width: 1000px;*/
  /*display: inline;*/
  /*justify-content: space-between;*/
  /*margin: 0 0;*/
  float: right;  
  padding: 0pt 11pt;
}

.footer{ 
  position: absolute; 
  right: 23%;    
  text-align: right;    
  bottom: 0px; 
  width: 100%;
  font-size: 9pt;
} 
